@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,600');

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  }

  html, body{
    max-width: 100%;
    overflow-x: hidden;
  }


body {
 max-width:100%;
 overflow-x: hiden;
 background-color: blue;
 color: white;
 }

 .container{
   background-color: grey;
 }

 h1 {
   text-align: center;
 }